@model authTest.Models.Putovanje

@{
    ViewData["Title"] = "Detalji ponude";
}

    <h1 style="margin-left:20%">Detalji ponude</h1>

<div>
    <hr />
    <dl class="row" style="margin-left:20%">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Slika)
        </dt>
        <dd class="col-sm-10">
            <img src=@Html.DisplayFor(model => model.Slika) alt="Slika" width="400" height="300">
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Destinacija)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destinacija)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DatumPolaska)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumPolaska)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DatumPovratka)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumPovratka)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        
    </dl>

</div>
<div>
    <a  style="margin-left: 21%" asp-action="Edit" asp-route-id="@Model.Id">Izmijeni</a> |
    <a  asp-action="Index">Vrati se na ponude</a>
</div>
