@model IEnumerable<authTest.Models.Putovanje>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-left:20%; color: darkslategrey">Aktuelna putovanja</h1>

<p>
    <a style="margin-left: 2%" asp-action="Create">Dodaj novu ponudu</a>
</p>
<table class="table" style="float:right;  width:80%">
    <thead>
        <tr>
            <th style="color: darkslategrey">
                @Html.DisplayNameFor(model => model.Destinacija)
            </th>
            <th style="color: darkslategrey">
                @Html.DisplayNameFor(model => model.DatumPolaska)
            </th>
            <th style="color: darkslategrey">
                @Html.DisplayNameFor(model => model.DatumPovratka)
            </th>
            <th style="color: darkslategrey">
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destinacija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPolaska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPovratka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmijeni</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

<input type="button"
       style="margin-left: 2%"
       class="btn btn-info"
       value="Rezerviši"
       onclick="location.href='/Rezervacija/Create'" />
